<!-- templates/editar_alumno.html -->
{% extends 'base.html' %}

{% block title %}Editar Alumno{% endblock %}

{% block content %}
  <h1>Editar Alumno</h1>
  <form action="{{ url_for('editar_alumno', alumno_id=alumno.id) }}" method="post">
    <input type="text" name="nombre" value="{{ alumno.nombre }}" required>
    <input type="text" name="apellido" value="{{ alumno.apellido }}" required>
    <input type="email" name="email" value="{{ alumno.email }}" required>
    <input type="number" name="edad" value="{{ alumno.edad }}" required>
    <button type="submit">Guardar</button>
  </form>
  <a href="{{ url_for('alumno', alumno_id=alumno.id) }}">Volver</a>
{% endblock %}
